@using modelBinding.Models
@model Student

@{
    ViewBag.Title = "WithoutViewModel";
}

<h2>WithoutViewModel</h2>

<p>RollNo: @Model.RollNo</p>
<p> Name: @Model.StudentName</p>
<p>ASP : @ViewBag.assObj.asp</p>
<p>Mobile : @ViewBag.assObj.mobile</p>
<p>Advance Network : @ViewBag.assObj.advanceNetwork</p>
<p>ISAD : @ViewBag.assObj.isad</p>